</div>
</div>
<!-- footer -->
<div class="row" style="background-color: blanchedalmond;">
    <div style="text-align: center;">
        <p>THÔNG TIN LIÊN HỆ</p>
        <p>Họ và tên: Phan Thị Kim Cúc</p>
        <p>MSSV: 18032401</p>
        <p>Lớp: DHKQ14ATT</p>
        <p>Email: kimcuc040920@gmail.com</p>
        <p>SĐT: 0865******</p>
    </div>
</div>
</div>
</body>

</html>