<!DOCTYPE html>
<html>

<head>
    <style>
        [class*=col-] {
            border: 1px solid black;
        }
        
        #bg {
            background-image: url('/images/hoacuc.jpg');
        }
    </style>
    <title>
        Daisy Tea
    </title>
    <link rel="stylesheet" href="/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/bootstrap/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('./images/anhbody.jpg');">
    <div class="container" id="bg">
        <!-- logo -->
        <div class="row">
            <h2 style="text-align: center;">Hoa Cúc Tea</h2>
        </div>
        <!-- nav -->
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Điều hướng</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hoa Cúc Tea
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Quotes 1</a></li>
                                <li><a href="#">Quotes 2</a></li>
                            </ul>
                        </li>
                        <li><a href="/baidang">Bài đăng</a></li>
                        <li><a href="/lienhe">Liên hệ</a></li>
                        <li>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" name="search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- content -->
        <div class="row" style="background-color: blanchedalmond; padding: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">