<%- include('header'); -%>
    <h3 style="text-align: center;">Quotes ảnh ý nghĩa về hoa cúc</h3>
    <img src="/images/quote3.jpg" alt="quote1" style="max-width: 400px; max-height: 400px; display: block; margin-left: auto; margin-right: auto;">
    <br>
    <%- include('footer'); -%>